body {
    background-color: #fff;
    /* white background */
    color: #555;
    /* gray text */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* ffa */
}

header {
    background-color: #000032;
    /* dark blue background */
    color: #fff;
    /* white text */
    background-image: url(images/sunset.jpg);
    /*bgi */
    background-position: right;
    /*bgdp */
    background-repeat: no-repeat;
    /* bgr */
    line-height: 400%;
    /*lh400% */
    text-indent: 1em;
    /* txi */
}

nav {
    background-color: #bbdefb;
    font-weight: bold;
    /*fwb */
    /* light blue nav background */
}

nav a {
    text-decoration: none;
    /* txd */
}

h1,
h2,
h3,
footer {
    font-family: Georgia, "Times New Roman", Times, Baskerville, serif;
}

h1 {
    margin-bottom: 0;
    /* remove space below heading */
}

h2 {
    color: #1976d2;
    /* blue headings */
}

h3 {
    color: #1976d2;
    /* c#003 */
}

dt {
    color: #002171;
    /* dark blue for definition terms */
}

address {
    font-style: normal;
    /* remove italic style */
}

footer {
    font-size: 75%;
    /* fz75% */
    font-style: italic;
    /* fsi */
    text-align: center;
    /* txa */
}

.resort {
    color: #1976d2;
    /* blue class selector for "Pacific Trails Resort" */
    font-weight: bold;
    /* fwb */
}

img {
    width: 100%;
    /* width 100% */
    height: auto;
    /* height auto */
}